[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
defusedxml = "*"
pillow = "*"
json5 = "*"
python-ulid = "*"

[dev-packages]
mypy = "*"
pytest = "*"
ruff = "*"
coverage = "*"

[requires]
python_version = "3.13"
